* {
  box-sizing: border-box; }

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: 'Sunflower';
  letter-spacing: 0.05em; }

.fullscreen {
  width: 100vw;
  height: 100vh;
  background: #0d0d0d; }
  .fullscreen .container {
    padding: 15px;
    max-width: 1200px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .fullscreen .container .card {
      overflow: hidden;
      width: 30%;
      height: 70%;
      background: #fff;
      box-shadow: 1px 22px 44px rgba(0, 0, 0, 0.19);
      transition: 0.6s;
      border-radius: 2px;
      position: relative;
      display: flex; }
      .fullscreen .container .card:hover {
        transform: translateY(-15px);
        box-shadow: 1px 12px 34px rgba(0, 0, 0, 0.31); }
        .fullscreen .container .card:hover .sinopse {
          opacity: 1;
          transition-delay: 0.4s; }
          .fullscreen .container .card:hover .sinopse .view {
            opacity: 1;
            transform: translateY(0%);
            transition: 0.6s;
            transition-delay: 1s; }
          .fullscreen .container .card:hover .sinopse .content-sinopse .text {
            transform: translateY(0);
            transition-delay: 0.6s; }
          .fullscreen .container .card:hover .sinopse .content-sinopse .title {
            transform: translateY(0);
            transition-delay: 0.2s; }
        .fullscreen .container .card:hover .date {
          transform: translateY(-100%);
          opacity: 0; }
        .fullscreen .container .card:hover .content {
          transform: translateY(100%);
          opacity: 0; }
      .fullscreen .container .card .date {
        position: absolute;
        top: 25px;
        right: 25px;
        color: #fff;
        font-weight: 300;
        font-size: 14px;
        transition: 0.8s; }
        .fullscreen .container .card .date .tv_ico img {
          width: 12px;
          vertical-align: baseline;
          margin-left: 6px; }
      .fullscreen .container .card .content {
        transition: 0.8s;
        display: flex;
        flex-wrap: wrap;
        align-self: flex-end;
        padding: 25px 25px 50px 25px; }
        .fullscreen .container .card .content .title {
          width: 100%;
          color: #fff;
          font-size: 44px;
          font-weight: 700;
          line-height: 50px;
          margin-bottom: 12px; }
        .fullscreen .container .card .content .text {
          width: 100%;
          color: #fff;
          font-size: 16px;
          font-weight: 300; }
      .fullscreen .container .card .sinopse {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 25px 25px 50px 25px;
        background: rgba(0, 0, 0, 0.78);
        color: #fff;
        font-weight: 300;
        opacity: 0;
        transition: 0.8s;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap; }
        .fullscreen .container .card .sinopse iframe {
          position: absolute;
          top: 0;
          width: 100%;
          margin-left: -30px;
          height: 260px; }
        .fullscreen .container .card .sinopse .view {
          position: absolute;
          bottom: 15px;
          right: 25px;
          color: #fff;
          font-size: 14px;
          border-bottom: 1px solid #fff;
          opacity: 0;
          transform: translateY(100%);
          transition: 0.6s;
          cursor: pointer; }
        .fullscreen .container .card .sinopse .content-sinopse .title {
          color: rgba(255, 255, 255, 0.6);
          font-size: 22px;
          font-weight: 700;
          margin-bottom: 12px;
          transform: translateY(-100%);
          transition: 0.6s; }
        .fullscreen .container .card .sinopse .content-sinopse .text {
          transform: translateY(100%);
          transition: 0.6s;
          color: rgba(255, 255, 255, 0.6);
          font-weight: 300;
          font-size: 14px; }
      .fullscreen .container .card_1 {
        background: url("https://i.pinimg.com/564x/47/40/37/4740370445ee18d4116e1eb368be009c.jpg") no-repeat center/cover; }
      .fullscreen .container .card_2 {
        background: url("https://i.pinimg.com/564x/a0/50/e2/a050e212795cf3330d3171ae1b6acba4.jpg") no-repeat 45%/cover; }
      .fullscreen .container .card_3 {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.88)), url("https://i.pinimg.com/564x/7f/5b/de/7f5bde3c3b6901732df7d855112ddc86.jpg") no-repeat center/cover; }

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373; }

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5; }

.site-footer hr.small {
  margin: 20px 0; }

.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px; }

.site-footer a {
  color: #737373; }

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none; }

.footer-links {
  padding-left: 0;
  list-style: none; }

.footer-links li {
  display: block; }

.footer-links a {
  color: #737373; }

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
  text-decoration: none; }

.footer-links.inline li {
  display: inline-block; }

.site-footer .social-icons {
  text-align: right; }

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d; }

.copyright-text {
  margin: 0; }

@media (max-width: 991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0; }
  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center; } }

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.social-icons li {
  display: inline-block;
  margin-bottom: 4px; }

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px; }

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe; }

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px; }

.social-icons a.facebook:hover {
  background-color: #3b5998; }

.social-icons a.twitter:hover {
  background-color: #00aced; }

.social-icons a.linkedin:hover {
  background-color: #007bb6; }

.social-icons a.dribbble:hover {
  background-color: #ea4c89; }

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600; } }

.btn {
  display: inline-block;
  padding: 13px 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
  background: transparent;
  border: 1px solid #e1e1e1;
  font: 12px/1.2 "Oswald", sans-serif;
  letter-spacing: 0.4em;
  text-align: center;
  text-indent: 2px;
  text-transform: uppercase;
  transition: color 0.1s linear 0.05s; }
  .btn::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #e1e1e1;
    z-index: 1;
    opacity: 0;
    transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s; }
  .btn::after {
    transition: border 0.1s linear 0.05s; }
  .btn .btn-inner {
    position: relative;
    z-index: 2; }
  .btn:hover {
    color: #373737;
    transition: color 0.1s linear 0s; }
    .btn:hover::before {
      top: 0;
      height: 100%;
      opacity: 1;
      transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s; }
    .btn:hover::after {
      border-color: #373737;
      transition: border 0.1s linear 0s; }

.slideshow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 420px;
  z-index: 1; }
  .slideshow .slideshow-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .slideshow .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
  .slideshow .slide {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease; }
    .slideshow .slide.is-active {
      display: block; }
    .slideshow .slide.is-loaded {
      opacity: 1; }
    .slideshow .slide .caption {
      padding: 0 100px; }
    .slideshow .slide .image-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      z-index: 1;
      background-size: cover;
      image-rendering: optimizeQuality; }
      .slideshow .slide .image-container::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); }
    .slideshow .slide .image {
      width: 100%;
      width: 100%;
      object-fit: cover;
      height: 100%; }
    .slideshow .slide-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      color: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center; }
    .slideshow .slide .title {
      margin: 0 auto 15px;
      max-width: 1000px;
      font: 300 50px/1.2 "Oswald", sans-serif;
      letter-spacing: 0.35em;
      text-transform: uppercase; }
    .slideshow .slide .text {
      margin: 0 auto;
      max-width: 1000px;
      font-size: 18px;
      line-height: 1.4; }
    .slideshow .slide .btn {
      margin: 15px 0 0;
      border-color: #fff; }
      .slideshow .slide .btn::before {
        background: #fff; }
  .slideshow .pagination {
    position: absolute;
    bottom: 35px;
    left: 0;
    width: 100%;
    height: 12px;
    cursor: default;
    z-index: 2;
    text-align: center; }
    .slideshow .pagination .item {
      display: inline-block;
      padding: 15px 5px;
      position: relative;
      width: 46px;
      height: 32px;
      cursor: pointer;
      text-indent: -999em;
      z-index: 1; }
      .slideshow .pagination .item + .page {
        margin-left: -2px; }
      .slideshow .pagination .item::before {
        content: "";
        display: block;
        position: absolute;
        top: 15px;
        left: 5px;
        width: 36px;
        height: 2px;
        background: rgba(255, 255, 255, 0.5);
        transition: background 0.2s ease; }
      .slideshow .pagination .item::after {
        width: 0;
        background: #fff;
        z-index: 2;
        transition: width 0.2s ease; }
      .slideshow .pagination .item:hover::before, .slideshow .pagination .item.is-active::before {
        background-color: #fff; }
  .slideshow .arrows .arrow {
    margin: -33px 0 0;
    padding: 20px;
    position: absolute;
    top: 50%;
    cursor: pointer;
    z-index: 3; }
  .slideshow .arrows .prev {
    left: 30px; }
    .slideshow .arrows .prev:hover .svg {
      left: -10px; }
  .slideshow .arrows .next {
    right: 30px; }
    .slideshow .arrows .next:hover .svg {
      left: 10px; }
  .slideshow .arrows .svg {
    position: relative;
    left: 0;
    width: 14px;
    height: 26px;
    fill: #fff;
    transition: left 0.2s ease; }

.map {
  width: 100%;
  height: auto;
  position: relative; }
  .map h6 {
    font-size: 30px; }
  .map h1 {
    font-size: 50px; }
  .map img {
    width: 100%;
    object-fit: cover; }
  .map .map-container {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #100f0f;
    text-align: center;
    padding: 20px; }
    .map .map-container a {
      color: #202020;
      text-decoration: none;
      font-size: 25px; }
    .map .map-container a:hover {
      text-decoration: underline; }

.news-container .news-fs h3 {
  padding: 4px;
  font-size: 30px; }

.news-container .news-fs h1 {
  padding: 4px;
  font-size: 80px; }

.news-container .news-fs img {
  width: 100%;
  height: 550px;
  object-fit: cover; }

.news-container .news-details {
  padding-top: 20px; }
  .news-container .news-details h6 {
    padding-top: 5px;
    padding-bottom: 30px;
    color: #696969; }
  .news-container .news-details .news-title-details {
    display: flex; }
    .news-container .news-details .news-title-details h1 {
      width: 800px; }
    .news-container .news-details .news-title-details a {
      margin-left: 13%;
      padding: 10px 25px;
      border: 1px solid #696969;
      height: 50px;
      text-decoration: none;
      color: #0d0d0d; }
    .news-container .news-details .news-title-details a:hover {
      color: #fff;
      background-color: #0d0d0d; }
  .news-container .news-details span {
    color: #696969; }

.new-list ul {
  padding: 0; }
  .new-list ul li {
    padding-top: 50px;
    list-style: none;
    display: flex; }
  .new-list ul img {
    padding-top: 3px;
    margin-right: 80px;
    width: 464px;
    height: 260px; }
  .new-list ul h6 {
    padding: 0px 0px 10px 0px;
    color: #696969; }
  .new-list ul a {
    text-decoration: none;
    color: #100f0f;
    background-color: #cecece;
    padding: 5px;
    font-size: 13px; }
  .new-list ul h1 {
    padding: 10px 0px 0px 0px; }
  .new-list ul .read-moe a {
    background-color: #fff;
    color: #100f0f;
    padding: 10px 25px;
    float: right;
    border: 1px solid #0d0d0d; }
  .new-list ul .read-moe a:hover {
    color: #fff;
    background-color: #0d0d0d; }

.more {
  padding: 80px 0px; }
  .more a {
    text-decoration: none;
    color: #fff;
    background-color: #0d0d0d;
    padding: 15px 80px; }
  .more a:hover {
    text-decoration: none;
    border: 1px solid #0d0d0d;
    background-color: #fff;
    color: #0d0d0d; }
