
<div class="model">
    <div class="banner">
        <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_gw/huracan/s/2022/11_30_sterrato/gate_hura_s_02.jpg" style="width:100% height:700px; object-fit: ;" alt="">
        <div class="source-model">
            <a href="">HOME /</a> <span>Model</span>
        </div>
        <div class="contai-model">
            <h3>LAMBORGHINI</h3>
            <h1>MODELS</h1>
        </div>
    </div>
    <div class="model-list">
        <div class="aventador" style="display:flex">
            <div class="aventador-conten">
                <img src="img/aventador.jpg" alt="">
                <p> The Aventador has been created to anticipate the future, as demonstrated by the use of innovative technology, including a V12 engine and the extensive use of carbon fiber.
                The authentic design masterpieces together stark dynamism with aggression to produce a cutting edge carbon fiber monocoque. The interior of the Aventador combines high-level technology and luxury equipment with premium-quality materials, skilfully crafted with the expertise characteristic of the finest Italian traditions. A supercar family that has already become a legend in its own right. Discover technical specifications, dimensions, performance, and the detailed features of all the new Lamborghini Aventador models.</p>
                <ul class="list-model-lambor">
                    <li><a href="">AVENTADOR LP 780-4 ULTIMAE</a></li>
                    <li><a href="">AVENTADOR LP 780-4 ULTIMAE</a></li>
                </ul>
            </div>
            <div class="aventador-image" >
                <img src="https://medialamborghini-meride-tv.akamaized.net/meride/lamborghini/video/images/folder1/903/Aventador_ultimae_video_hero.jpg" class="aventador1"  alt="">
                <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/aventador/ultimae_roadster/aven_ulti_rds_og.jpg" style="" class="aventador2" alt="">
            </div>  
        </div>
        <div class="huracan">
            <div class="huracan-image">
                <img src="https://i.wpimg.pl/1922x1281/m.autokult.pl/lamborghini-huracan-evo--fe40a8c.jpg" class="huracan1" alt="">
                <img src="https://dmc.ag/wp-content/uploads/2020/07/DMC_Lamborghini_Huracan_Performante_Front_Bumper.jpg" class="huracan2"  alt="">
            </div>
            <div class="huracan-conten">
                <img src="img/huracan.jpg" alt="">
                <p>From our past, we've learned perfection. This is how the first model of the Lamborghini Huracán was born. More performance, more control, more innovation. The Huracán is equipped with a powerful V10 engine and the latest technologies to perform at its absolute best. Engineered to guarantee the best performance and control under any driving condition, it's easy to take to the limit, not to mention extremely fun, thanks to technology like the Lamborghini Doppia Frizione (LDF) dual clutch gearbox and the electronically-controlled four-wheel drive. Enjoy the best driving experience, ever. Discover all the Lamborghini Huracán models.</p>
                <ul class="list-model-lambor">
                    <li><a href="">HURACÁN STERRATO</a></li>
                    <li><a href="">HURACÁN STERRATO</a></li>
                    <li><a href="">HURACÁN STERRATO</a></li>
                    <li><a href="">HURACÁN STERRATO</a></li>
                    <li><a href="">HURACÁN STERRATO</a></li>
                    <li><a href="">HURACÁN STERRATO</a></li>
                    <li><a href="">HURACÁN STERRATO</a></li>
                </ul>
            </div>
        </div>
        <div class="urus">
            <div class="urus-conten">
                <img src="/img/urus.jpg" alt="">
                <p>Lamborghini Urus is the world’s first Super Sport Utility Vehicle, in which luxury, sportiness and performance meet comfort and versatility. It offers best-in-class driving dynamics, alongside its unmistakable elegance of design. Urus embodies the characteristics of multiple souls: sporty, elegant and off-road, and has a suitability for everyday driving in a range of environments. With its surprisingly distinct engine sound, combined with high performance, Lamborghini Urus is anything but typical.</p>
                <ul class="list-model-lambor">
                    <li><a href="">URUS S</a></li>
                    <li><a href="">URUS S</a></li>
                </ul>
            </div>
            <div class="urus-image">
                <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_gw/urus/2023/02_09_refresh/urus_gate_hero_01.jpg"   alt="">
            </div>
        </div>
        <div class="limit-seri pt-5 pb-5">
                <h1>LIMITED SERIES</h1>
                <p>The Limited Series Lamborghini are the most exclusive, limited editions to meet a small and select number of clients. Truly representing the state of the art in the domain of super cars, the Limited Series models express the highest Lamborghini spirit in every respect. Indeed, they are equipped with the most advanced features available in the fields of design and technology.</p>
                <ul>
                    <li><a class="link3" href="">COUNTACH LPI 800-4</a></li>
                    <li><a class="link3" href="">SIÁN FKP 37</a></li>
                    <li><a class="link3" href="">SIÁN ROADSTER</a></li>
                </ul>
                <div class="limit-item1 "  >             
                    <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/countach/gallery/countach_g01_m.jpg"  class="limit1"  alt="">
                </div>
                <div class="limit-item2">
                        <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/few_off/sian_rds/2022/06_20/over/sian_rds_over_01_m.jpg" class="limit2" style="" alt="">      
                </div>
        </div>
        <div class="concept">
            <div class="concept-conten p-3">
                <h1 class="pb-3">CONCEPT</h1>
                <p>The most visionary models, these unique specimens are set to define the highest limits of technology and design. Unveiled at the most prestigious international Motor Shows, they offer an exclusive look at the most innovative solutions that Lamborghini may adopt in its future series-production models.</p>
                <ul>
                    <li><a class="link3" href="">TERZO MILLENNIO</a></li>
                    <li><a class="link3" href="">ASTERION</a></li>
                    <li><a class="link3"  href="">ESTOQUE</a></li>
                </ul>            
            </div>
            <div class="concpet-image">
                <img class="concept1" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/concept/asterion/s/Lamborghini-Asterion-s-2_M.jpg" alt="">
                <img class="concept2" src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/concept/terzo-millennio/header/header_Terzo-Millennio.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="solutions">
       <div class="company">
            <img  src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/company/2022/00_hero.jpg" alt="">
            <div class="company-title">
                <h3>AUTOMOBILI LAMBORGHINI</h3>
                <h2>COMOPANY</h2>
            </div>
       </div>
       <div class="personam">
            <img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/news/2021/04_12_ad_personam/ad_personam_cover01.jpg" alt="">
            <div class="personam-title">
                <h3>MAKE IT UNIQUE MAKE IT YOURS</h3>
                <h2>AD PERSONAM</h2>
            </div>
       </div> 
    </div>  
</div>
