<nav class=" navbar sticky-top" style="background-color: black;" >
 <ul class="navbar-nar pt-3 " style="display: flex;">
    <li class="nav-item mx-2 " style="list-style: none;">
      <a href="#"><img src="/img/Lamborghini_Logo.svg.png" alt="" style="width: 50px; height:60px;"></a>
    </li> 
    <li class="nav-item mx-1" style=" list-style: none;">
            <div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <a class="nav-link text-white" style="font-size: 12.5px;" href="#">MODESL</a>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
                <div class="pt-4" style="background-color: black;">
                <h4 class="text-white">Collapsed content</h4>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
            </div>
    </li>
    <li class="nav-item mx-1" style=" list-style: none;">
        <div class="mr-auto">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContentone" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <a class="nav-link text-white" style="font-size: 12.5px;" href="#">CUSTOM SOLUTIONS</a>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarToggleExternalContentone">
                <div class="pt-2" style="background-color: black;">
                <h4 class="text-white">Collapsed content</h4>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
            </div>
    </li>
    <li class="nav-item mx-1" style=" list-style: none;">
        <div class="mr-auto">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContenttwo" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                 <a class="nav-link text-white" href="#" style="font-size: 12.5px;">OWNERSHIP</a>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarToggleExternalContenttwo">
                <div class="pt-4"  style="background-color: black;" >
                <h4 class="text-white">Collapsed content</h4>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
            </div>
    </li>
    <li class="nav-item mx-1" style=" list-style: none;">
        <div class="mr-auto">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContentthree" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <a class="nav-link text-white" href="#" style="font-size: 12.5px;">MOTORSPORT</a>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarToggleExternalContentthree">
                <div class="pt-4"  style="background-color: black;">
                <h4 class="text-white">Collapsed content</h4>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
            </div>
    </li>
    <div  style="display: flex;padding-left: 405px; padding-right: 10px; ">
       <li class="nav-item active" style="list-style: none;">
        <a class="nav-link text-white" style="font-size: 12.5px; list-style: none;" href="#">DEALERSHIPS <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active" style=" list-style: none;">
        <a class="nav-link text-white" style="font-size: 12.5px;"  href="#">MUSEUM <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active"  style="list-style: none;">
        <a class="nav-link text-white" style="font-size: 12.5px;" href="#">STORE <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active" style="list-style: none;">
        <a class="nav-link" style="font-size: 12.5px;" href="#"><svg style="color: aliceblue;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        </svg></i></span></a>
      </li>
      <li class="nav-item active" style=" list-style: none;">
        <a class="nav-link" style="font-size: 12.5px;" href="#"><svg style="color: aliceblue;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg></i></a>
      </li>
    </div>
 </ul>


</nav>
